
body {
	padding: 16px 32px;

	font-family: sans-serif;
	font-size: 16px;

	color: DarkSlateGray;
	background: WhiteSmoke;
}

a {
	color: Green;
	font-weight: bold;
}

code {
	padding: 0 4px;

	font-family: monospace;

	border: 1px dashed Silver;
	background: white;
}
